@import '../../../../basic.less';

@space-to-line-horisontal: calc(50% + 1.5rem);
@space-to-line-vertical: calc(50% + 1.5rem);
@border: 1px solid #000;
@top-horisontal: calc(17%);
@left-vertical: 1rem;
@width-horizontal: 50%;
@height-vertical: 40%;

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid black;
}

.circle--checked {
    background-color: #ccdee6;
}

.statuslinje {
    margin-bottom: 2rem;
}

.full-width {
    background-color: white;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

// ---------

.tekstfelt {
    margin-top: 1rem;
}

.statuslinje {
    display: flex;
}

.statuslinje__element {
    display: flex;
    position: relative;
}

.statuslinje__element {
    ::before, ::after {
        content: '';
        position: absolute;
    }
}

@media (max-width: @screen-desktop) {
    .tekstfelt {
        margin-bottom: 1rem;
    }
    .statuslinje {
        flex-direction: column;
    }

    .statuslinje__element {
        flex-direction: row;
        align-items: center;

        .circle {
            margin-right: 2rem;
        }
    }

    .statuslinje__element:first-child {
        ::after {
            top: @space-to-line-vertical;
            left: @left-vertical;
            border-left: @border;
            height: @height-vertical;
        }
    }

    .statuslinje__element:not(:first-child):not(:last-child) {
        ::before {
            bottom: @space-to-line-vertical;
            left: @left-vertical;
            border-left: @border;
            height: @height-vertical;
        }
        ::after {
            top: @space-to-line-vertical;
            left: @left-vertical;
            border-left: @border;
            height: @height-vertical;
        }
    }

    .statuslinje__element:last-child {
        ::before {
            bottom: @space-to-line-vertical;
            left: @left-vertical;
            border-left: @border;
            height: @height-vertical;
        }
    }
}

@media (min-width: @screen-desktop) {
    .tekstfelt {
        text-align: center;
    }
    .statuslinje {
        justify-content: space-between;
    }

    .statuslinje__element {
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: center;
    }

    .statuslinje__element:first-child {
        ::after {
            top: @top-horisontal;
            left: @space-to-line-horisontal;
            border-top: @border;
            width: @width-horizontal;
        }
    }

    .statuslinje__element:not(:first-child):not(:last-child) {
        ::before {
            top: @top-horisontal;
            right: @space-to-line-horisontal;
            border-top: @border;
            width: @width-horizontal;
        }
        ::after {
            top: @top-horisontal;
            left: @space-to-line-horisontal;
            border-top: @border;
            width: @width-horizontal;
        }
    }

    .statuslinje__element:last-child {
        ::before {
            top: @top-horisontal;
            right: @space-to-line-horisontal;
            border-top: @border;
            width: @width-horizontal;
        }
    }
}
