.lenkeelement {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  white-space: nowrap;
}

.relatertinfo-container {
  display: flex;
  padding-bottom: 1rem;
}

.relatertinfo__hr {
  flex: 1;
  margin-top: 0.9rem;
}

.relatertinfo__tittel {
  flex: 0;
  text-align: center;
  white-space: nowrap;
  padding: 0 1rem 0 1rem;
}
