@import '../../basic.less';

.lenkepanelwrapper-container {
    display: flex;
    padding: 0;
}

.lenkepanelwrapper-tekst {
    margin-left: 1rem;
}

.lenkepanelwrapper-bilde {
    background-color: @navLysBla;
    border-radius: 50%;
    align-self: flex-start;
}

.lenkepanel__status {
    margin-top: 1rem;
}
